# Kaggle credentials
.kaggle/
kaggle.json

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Ignore generated data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/
!data/processed/

# Logs
logs/

# SQLite DB
*.db

# Mac system files
.DS_Store